                .container-flex {
                    padding: 0 20px 30px 20px;
                    font-family: "Mouse Memoirs";
                    font-size: 1em;
                    color: #333;
                    text-align: center;
                }
                
                h1 {
                    font-size: 1.6em;
                    font-family: "Mouse Memoirs";
                    background-color: yellow;
                    width: 0 auto;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 300px;
                }
                
                .instrucciones {
                    color: black;
                    font-family: Mouse Memoirs;
                    font-size: 25px;
                    margin: 5px;
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    justify-content: center;
                }
                
                h2 {
                    font-size: 1.6em;
                    font-family: "Mouse Memoirs";
                    text-align: center;
                    margin: 10px;
                }
                
                .NúmeroDeTarjeta {
                    display: block;
                    border: 8px;
                    border-color: black;
                    background-color: blueviolet;
                    padding: 20px;
                    margin: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                .CVV {
                    display: block;
                    border: 8px;
                    border-color: black;
                    background-color: chartreuse;
                    padding: 20px;
                    margin: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                input[type="month"] {
                    display: block;
                    border: 8px;
                    border-color: rgb(110, 17, 98);
                    background-color: rgb(255, 0, 106);
                    padding: 20px;
                    margin: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                input[type="button"] {
                    font-family: Mouse Memoirs;
                    font-size: 25px;
                    color: black;
                    background-color: yellow;
                    border-color: black;
                    border-style: solid;
                    border: 0px;
                    border-radius: 15px;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                footer {
                    margin: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }